* {
  box-sizing: border-box;
  margin: 10px;
}

div {
  border: 4vmin;
  text-align: left;
}

h1 {
  font-size: 7vmax;
  color: red;
  text-align: center;
}

h2 {
  font-size: 5vw;
}

p {
  font-size: 3vw;
}

h2 + p {
  margin-top: 2vmin;
}

p + h2 {
  margin-top: 5vmin;
}
  
.ranking {
  border: 2vmin solid hotpink;
}

.container-top1 {
  border-style: solid;
  border-color: lightpink;
  background-color: beige;
  color: sienna;
  margin-left: 10vmax;
  margin-right: 10vmax;
}

.container-top2 {
  border-style: dashed;
  border-color: coral;
  background-color: darkseagreen;
  color: lightyellow;
  margin-left: 10vmax;
  margin-right: 10vmax;
}

.container-no-top {
  border: 2vmin dotted mediumturquoise;
  background-color: lightblue;
  color: steelblue;
  margin-left: 10vmax;
  margin-right: 10vmax;
}

.container-top1, .container-top2, .container-no-top {
  padding: 4em;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

.container-no-top > p {
  font: 1em;
  color: lightcyan;
}
  
a img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

a img span {
   position:absolute;
}

a:hover img span {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}
